<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    {% import 'parts.html' as parts %}
    <p>{{ parts.render_index(page, allowed) }}</p>

    <p>{{ parts.render_search("extract_image", text) }}</p>

    <table border="1">
        {% if title in images %}
            <tr>
                <th style="position: sticky; top: 0; background-color: lightcyan;">{{ images.title }}</th>
                <th style="position: sticky; top: 0; background-color: lightcyan;">らいく</th>
            </tr>
        {% endif %}

        {% for img in images.src %}
            <tr>
                <td><img class = "masterImage" src = "{{ img['src'] }}" loading="eager"></td>
                <td><img class = "masterImage" src = "{{ img['data-src'] }}" loading="eager"></td>
            </tr>
        {% endfor %}

    </table>
    <dialog id="exampleDialog">
        <div id="innerDialog">
            <div  style="text-align: right;">
                <button id="closeDialogButton">Close</button>
            </div>
            <h1>Example Dialog</h1>
            <p>This is a <label id="dialogLabel"></label></p>

            <img id="dialogImage" src="" style ="margin :50px" loading="eager">
        </div>
    </dialog>
</body>
<script>
    document.addEventListener("click", function(event) {
        if (event.target.className == "masterImage") {
            document.getElementById("dialogLabel").innerText = event.target.src
            document.getElementById("dialogImage").src = event.target.src
            document.getElementById("exampleDialog").showModal()
        } else if (event.target.id == "closeDialogButton") {
            document.getElementById("exampleDialog").close()
        } else if (!document.getElementById("innerDialog").contains(event.target)) {
            document.getElementById("exampleDialog").close()
        }
    });
</script>
<style>
    td {
        /* 拡大してはみ出した部分を非表示にする */
        overflow: hidden;
    }
    img {
        /* 拡大するのにかかる時間 */
        transition:all {{ transition }}s;
    }

    img:hover{
        /* ホバーしたら拡大 */
        transform: scale({{ scale }});
    }
</style>
</html>