<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    {% import 'parts.html' as parts %}
    <p>{{ parts.render_index(page, allowed) }}</p>

    <p>{{ parts.render_search("extract_image", text) }}</p>

    <table border="1">
        <!-- {% if title in srcs %}
            <tr>
                <th style="position: sticky; top: 0; background-color: lightcyan;">{{ srcs.title }}</th>
                <th style="position: sticky; top: 0; background-color: lightcyan;">らいく</th>
            </tr>
        {% endif %} -->

        {% for src in srcs %}
            <tr>
                <td><img class = "masterImage" src = "{{ src.src }}" loading="eager"></td>
                <td><input type="checkbox"></td>
            </tr>
        {% endfor %}

    </table>
    {{ parts.render_dialog("masterImage") }}

</body>
<style>
    td {
        /* 拡大してはみ出した部分を非表示にする */
        overflow: hidden;
    }
    img {
        /* 拡大するのにかかる時間 */
        transition:all {{ transition }}s;
    }

    img:hover{
        /* ホバーしたら拡大 */
        transform: scale({{ scale }});
    }
</style>
</html>