<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    {% import 'parts.html' as parts %}
    <p>{{ parts.render_index(page, allowed) }}</p>

    <p>{{ parts.render_search("list", text) }}</p>

    <table border="1">
        <tr>
            <th style="position: sticky; top: 0; background-color: lightcyan;">たいとる</th>
            <th style="position: sticky; top: 0; background-color: lightcyan;">らいく</th>
            <th style="position: sticky; top: 0; background-color: lightcyan;">すこあ</th>
            <th style="position: sticky; top: 0; background-color: lightcyan;">みえる</th>
        </tr>
        {% for img in images %}
        <tr>
            <td><img class = "masterImage" src = "{{ img.path }}" height="{{ height }}" width="{{ width }}" loading="eager"></td>
            <td>{{ img.like }}</td>
            <td>{{ img.score }}</td>
            <td><input type="checkbox"></td>
        </tr>
        {% endfor %}

    </table>
    {{ parts.render_dialog("masterImage") }}

</body>
<style>
    td {
        /* 拡大してはみ出した部分を非表示にする */
        overflow: hidden;
    }
    img {
        /* 拡大するのにかかる時間 */
        transition:all {{ transition }}s;
    }

    img:hover{
        /* ホバーしたら拡大 */
        transform: scale({{ scale }});
    }
</style>
</html>