<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    {% import 'parts.html' as parts %}
    <p>{{ parts.render_index(page, allowed) }}</p>

    <p>{{ parts.render_search("master", text) }}</p>

    {% for img in images %}
    <img class = "masterImage" src = "{{ img.path }}" height="{{ height }}" width="{{ width }}" loading="eager">
    {% endfor %}

    {{ parts.render_dialog("masterImage") }}
</body>
<style>
    td {
        /* 拡大してはみ出した部分を非表示にする */
        overflow: hidden;
    }
    img {
        /* 拡大するのにかかる時間 */
        transition:all {{ transition }}s;
    }

    img:hover{
        /* ホバーしたら拡大 */
        transform: scale({{ scale }});
    }
</style>
</html>